/***********************************/
//        mixins
/***********************************/
@mixin centerAbsEl() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

/***********************************/
//        common
/***********************************/
* {
  box-sizing: border-box;
  user-select: none;

  &:focus,
  &:active {
    outline: none !important;
  }
}

body {
  margin: 0;
  font-family: monospace;
  overflow: hidden;
  // background: rgba(0, 0, 0, 0.1);
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  img {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}

/***********************************/
//        cv-outer
/***********************************/
.cv-outer {
  position: relative;
  width: 100vw;
  height: 100vh;
  // background: rgba(0, 0, 0, 0.096);
  // margin-top: 5vh;
  // margin-left: 5vw;
  position: relative;

  .cv {
    width: 100%;
    height: 100%;
  }

  &.dropping {
    * {
      pointer-events: none;
    }
  }

  &.pe-none {
    .draggable {
      pointer-events: none;
    }
  }
}

/***********************************/
//        tools
/***********************************/
.tools-universe {
  $bgColor: #F4F4F4;
  $borderColor: #EAEAEA;
  // background: rgba(66, 66, 66, 0.055);
  height: 0;
  width: 280px;
  left: 20px;
  bottom: 120px;
  transition: 0s height .1s ease;

  .tools-planet {
    // display: none;
    opacity: 0;
    height: 50%;
    width: 50%;
    // height: 160px;
    // width: 160px;      
    cursor: move;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    z-index: 1;
    background-color: $bgColor;
    transition: all .2s ease;

    .tools-satellite {
      position: absolute;
      border-radius: 50%;
      width: 35%;
      height: 35%;
      // width: 40px;
      // height: 40px;
    }

    &:before,
    &:after {
      content: '';
      @include centerAbsEl();
      border-radius: 50%;
    }

    &:before {
      width: 100%;
      height: 100%;
      background-color: $bgColor;
      z-index: 2;
      background-repeat: no-repeat;
    }

    &:after {
      width: calc(100% + 16px);
      height: calc(100% + 16px);
      // background: $borderColor;

      background: rgba(211, 211, 211, 1);
      background: -moz-linear-gradient(top, rgba(211, 211, 211, 1) 0%, rgba(193, 193, 193, 1) 21%, rgba(181, 181, 181, 1) 38%, rgba(229, 229, 229, 1) 100%);
      background: -webkit-gradient(top top, right top, color-stop(0%, rgba(211, 211, 211, 1)), color-stop(21%, rgba(193, 193, 193, 1)), color-stop(38%, rgba(181, 181, 181, 1)), color-stop(100%, rgba(229, 229, 229, 1)));
      background: -webkit-linear-gradient(top, rgba(211, 211, 211, 1) 0%, rgba(193, 193, 193, 1) 21%, rgba(181, 181, 181, 1) 38%, rgba(229, 229, 229, 1) 100%);
      background: -o-linear-gradient(top, rgba(211, 211, 211, 1) 0%, rgba(193, 193, 193, 1) 21%, rgba(181, 181, 181, 1) 38%, rgba(229, 229, 229, 1) 100%);
      background: -ms-linear-gradient(top, rgba(211, 211, 211, 1) 0%, rgba(193, 193, 193, 1) 21%, rgba(181, 181, 181, 1) 38%, rgba(229, 229, 229, 1) 100%);
      background: linear-gradient(to top, rgba(211, 211, 211, 1) 0%, rgba(193, 193, 193, 1) 21%, rgba(181, 181, 181, 1) 38%, rgba(229, 229, 229, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#e5e5e5', GradientType=1);

      z-index: 1;
    }

    &.active {
      // display: block;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }

    &.tools-planet-sets {
      &:before {
        background-image: url('../../_assets/img/tools.svg');
        background-position: 60% center;
        background-size: 65%;
      }
    }

    &.tools-planet-pens {
      &:before {
        background-image: url('../../_assets/img/pens.svg');
        background-position: center center;
        background-size: 40%;
      }
    }
  }

  .tools-toggle {
    position: absolute;
    top: calc(100% + 50px);
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    // width: 200px;
    display: flex;
    height: 45px;
    justify-content: space-between;

    .tools-satellite {
      width: 30%;
      // width: 22%;
      border-radius: 6px;
    }
  }

  .tools-satellite {
    @include flex();
    background-color: $bgColor;
    border: 3px solid $borderColor;
    cursor: pointer;

    img {
      max-width: 100%;
      pointer-events: none;
    }

    &:active,
    &.active,
    &.show-child {
      border: 2px solid #3FB6CE;
      background: white;
    }

    &:hover {
      border: 2px solid #3FB6CE;
      // opacity: .9;
    }

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
      // background-color: rgb(216, 216, 216);
      opacity: .5;

      &:hover {
        background-color: $bgColor;
        border: 2px solid $borderColor;
      }
    }

    &[data-tool-group-type="pastel1"].show-child {
      &~[data-tool-group-type="pastel1"] {
        display: block;
      }
    }

    &[data-tool-group-type="pastel2"].show-child {
      &~[data-tool-group-type="pastel2"] {
        display: block;
      }
    }

    &[data-tool-group-type="stroke"].show-child {
      &~[data-tool-group-type="stroke"] {
        display: block;
      }
    }

    &[data-tool-group-type="opacity"].show-child {
      &~[data-tool-group-type="opacity"] {
        display: block;
      }
    }

    &[data-tool-group-type="scale"].show-child {
      &~[data-tool-group-type="scale"] {
        display: block;
      }
    }

    &[data-tool-group-type="set-square"].show-child {
      &~[data-tool-group-type="set-square"] {
        display: block;
      }
    }

    &.secondary {
      display: none;
    }
  }

  &.active {
    height: 280px;
    transition: 0s height 0s ease;
  }
}

/***********************************/
//        draggables
/***********************************/
.draggable {
  position: absolute;

  &.draggable-tools {
    display: block;
  }

  &.draggable-set,
  &.draggable-seal,
  &.draggable-tool,
  &.draggable-widget {
    display: none;
    left: 230px;
    top: 205px;

    &.active {
      display: block;

      &[data-panel="scale"] {
        display: flex;
      }
    }

  }

  &.draggable-widget,
  &.draggable-seal {
    .close-btn {
      background-color: transparent;
      position: absolute;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      background-repeat: no-repeat;
      z-index: 1;
      background-image: url(../img/cancel-btn.svg);
      background-size: 150%;
      background-position: center -5px;
      left: 100%;
      bottom: 100%;
      transform: translate(-50%, 50%);

      img {
        // margin: 0;
        // width: 100%;
      }

      &:hover {
        opacity: .8;
      }
    }
  }

  &.draggable-seal {
    height: 300px;
    width: 100px;
    padding: 20px 10px 10px;
    background: #EBEBEB;
    border: 6px solid #DBDBDB;
    border-radius: 4px;
    transition:
      background .3s ease,
      border .3s ease;
    .drag-area {
      background-color: transparent;
      position: absolute;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      background-repeat: no-repeat;
      z-index: 1;
      border: 2px solid #DBDBDB;
      top: -19px;
      left: -18px;
      background-color: #e4e4e4;
      background-image: url(../img/move.png);
      background-size: 60%;
      background-position: center;
    }
    .content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding: 10px;
      height: 100%;
      overflow: auto;
      img {
        width: 100%;
        margin-top: 10px;

        &:first-child {
          margin-top: 0;
        }
        &[data-seal-type=cubes] {
          width: 46%;
          &:nth-child(2n) {
            margin-left: 8%;
          }
        }
      }
    }

    &.trash {
      background: #e2acac;

      &.trash-active {
        border: 6px solid #d17676;
      }
    }
  }

  &.draggable-set {
    border: 1px solid rgba(0, 0, 0, 0);

    .btn {
      display: none;
      position: absolute;
      width: 20px;
      cursor: pointer;

      &.pen-btn {
        width: 30px;
        left: 0;
        top: 100%;        
        opacity: .7;
        &.active {
          opacity: 1;
        }           
      }
      &.eraser-btn {
        width: 30px;
        left: 35px;
        top: 100%;        
        opacity: .7;
        &.active {
          opacity: 1;
        }           
      }

      &:hover {
        opacity: .8;
      }
    }

    &.highlight {
      border: 1px solid rgba(0, 0, 0, 0.1);

      .btn {
        display: block;
      }
    }

    &[data-panel=abacus] {
      .close-btn {
        transform: none;
      }
    }
    &[data-panel=protractor] {
      .btn {
        pointer-events: all;
        &.close-btn {
          right: 100%;
          top: 0;
        }
        &.flip-btn {
          left: 100%;
          top: 0;
        }
        &.scale-btn {
          left: 100%;
          top: 106%;
        }
        &.rotate-btn {
          right: 100%;
          top: 106%;
        }
        &.pen-btn {
          top: 106%;
        }
        &.eraser-btn {
          top: 106%;
        }
      }
    }
  }
}

.dropped-seal {
  position: absolute;
  left: 100px;
  top: 100px;
}

.drag-area {
  cursor: move;
}

/***********************************/
//        snap cubes
/***********************************/
.draggable-cubes {
  // border: 5px solid black;
  box-shadow: 0 0 5px 5PX rgba(0,0,0,0.05);

  .cube-outer {

    // border: 5px solid lightgreen;
    .cube {
      pointer-events: none;

      // padding: 5px;
      // background: red;
      img {
        // width: 100%;
        // height: 100%;
        display: block;
      }

      &.drag-area {
        pointer-events: all;
        cursor: move;

        img {
          pointer-events: none;
        }
      }
    }
  }

  .dot {
    height: 1px;
    width: 1px;
    border-radius: 50%;
    position: absolute;
    visibility: hidden;

    &.dot-top {
      left: 50%;
      bottom: 100%;
      background: rgb(255, 102, 0);
      transform: translate(-50%, 50%);
    }

    &.dot-bottom {
      left: 50%;
      top: 100%;
      transform: translate(-50%, -50%);
      background: yellow;
    }

    &.dot-left {
      top: 50%;
      right: 100%;
      transform: translate(50%, -50%);
      background: white;
    }

    &.dot-right {
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%);
      background: rgb(5, 155, 255);
    }
  }

  .detach-btn {
    position: absolute;
    width: 34px;
    height: 34px;
    background: #e0e0e0;
    left: calc(100% + 8px);
    top: 0;
    border-radius: 10px;
    background-image: url(../img/detach.png);
    background-repeat: no-repeat;
    background-size: 78%;
    background-position: center;
    display: none;
    padding: 7px;
    cursor: pointer;
    background-clip: border-box;

    &:hover {
      opacity: .8;
    }
  }

  &.vertical,
  &.horizontal {
    display: flex;
  }

  &.vertical {
    // flex-flow: column;
    box-shadow: 0 0 5px 5PX rgba(255, 0, 0, 0.479);
  }

  &.horizontal {
    flex-flow: row;
  }

  &.horizontal {
    box-shadow: 0 0 5px 5PX rgba(0, 0, 0, 0.151);
  }

  &.complete {
    box-shadow: 0 0 5px 5px rgba(0, 153, 255, 0.555);
  }

  &.highlight {
    box-shadow: 0 0 5px 5PX rgba(21, 255, 0, 0.479);
  }

  &.cant-snap {
    transition: all .05s ease;
  }

  &.detach {
    .detach-btn {
      display: block;
    }
  }

  img {
    display: block;
  }
}

.draggable-shape {
  .rotate-btn {
    position: absolute;
    left: 100%;
    top: 100%;
    padding: 0 2px;
    line-height: 1;
    background-image: url(../img/tool-rotate-btn.svg);
    background-size: 100%;
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  img {
    display: block;
  }
}

/***********************************/
//        widget panels
/***********************************/
[data-panel=clock] {
  .clock {
    width: 300px;
    height: auto;
  }

  .clock-hand {
    position: absolute;
    // opacity: .5;     
    transform: translate(0, -50%);

    &.minute {
      width: 42.7%;
      top: calc(50% - 2px);
      left: 47.8%;
      transform-origin: 5.5% center;
      transform: translateY(-50%) rotate(270deg);
    }

    &.hour {
      width: 35.5%;
      top: calc(50% - 2px);
      left: 48.3%;
      transform-origin: 5.3% center;
      transform: translateY(-50%) rotate(151deg);
    }

    // /* opacity: .3; */
    // background: black;
    // left: 50%;
    // top: 50%;
    // border-radius: 40px;
    // transform: translateY(-50%);
    // transform-origin: left center;

    // &.hour {
    //   height: 20px;
    //   width: 90px;
    //   transform: translateY(-50%) rotateZ(-70deg);
    // }

    // &.minute {
    //   height: 10px;
    //   width: 90px;
    //   // transform: translateY(-50%) rotateZ(210deg);
    // }

    // &.second {
    //   height: 4px;
    //   width: 120px;
    //   // transform: translateY(-50%) rotateZ(40deg);
    // }
  }

  .center {
    position: absolute;
    width: 6%;
    height: 6%;
    left: 50%;
    top: 49.6%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: white;
    border: 6px solid black;
    border-radius: 50%;
    // opacity: .2;    
  }
}

[data-panel=calculator] {

  .display,
  .display-placeholder {
    position: absolute;
    background: rgba(255, 0, 0, 0);
    top: 8%;
    left: 10%;
    width: 80%;
    height: 13%;
    font-size: 98px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px;
    overflow: hidden;
    user-select: none;
    font-family: "digital-dismay";
  }

  .display-placeholder {
    opacity: .05;
    color: black;
    z-index: 1;
    pointer-events: none;
  }

  .display {
    z-index: 2;
    pointer-events: none;
  }

  svg {
    [data-button-type] {
      cursor: pointer;

      &:hover {
        opacity: .7;
      }

      &:active {
        opacity: .9;
      }
    }
  }
}

[data-panel^=scale],
[data-panel=protractor],
[data-panel=compass] {

  .borderlr,
  .bordertb {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, .1); */
    left: 0;
    top: 0;
    pointer-events: none;
  }

  .borderlr:before,
  .borderlr:after,
  .bordertb:before,
  .bordertb:after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
  }

  .borderlr:before,
  .borderlr:after {
    width: 1px;
    height: 4000px;
    top: 50%;
    transform: translateY(-50%);
  }

  .borderlr:before {
    left: 0;
  }

  .borderlr:after {
    right: 0;
  }

  .bordertb:before,
  .bordertb:after {
    height: 1px;
    width: 4000px;
    left: 50%;
    transform: translateX(-50%);
  }

  .bordertb:before {
    top: 0;
  }

  .bordertb:after {
    bottom: 0;
  }

  .point {
    visibility: hidden;
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    transform: translate(-50%, -50%);

    &:before {
      position: absolute;
      font-size: 0px;
      color: White;
      z-index: 19;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &.point-1 {
      left: 0;
      top: 0;
    }

    &.point-1:before {
      content: '1';
      /* left: 5px;
      top: 5px; */
    }

    &.point-2 {
      left: 100%;
      top: 0;
    }

    &.point-2:before {
      content: '2';
      /* right: 5px;
      top: 5px; */
    }

    &.point-3 {
      left: 100%;
      top: 100%;
    }

    &.point-3:before {
      content: '3';
      /* bottom: 5px;
      right: 5px; */
    }

    &.point-4 {
      top: 100%;
      left: 0;
    }

    &.point-4:before {
      content: '4';
      /* bottom: 5px;
      left: 5px; */
    }
  }
}

[data-panel^=scale] {

  // background: rgba(144, 238, 144, 0.288);
  /* transform: rotate(45deg); */
  .rotate-btn {
    left: 100%;
    top: 0;
    // transform: translate(50%, -50%);
  }

  .close-btn {
    left: 100%;
    bottom: 0;
    // transform: translate(50%, 50%);
  }

  .scale-flip-btn {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .scale {
    height: 70px;
    display: block;
  }
}

[data-panel=compass] {
  background: rgba(144, 238, 144, 0.05);
  height: 340px;
  width: 240px;
  transform-origin: 100% 92.2%;

  .point {
    position: absolute;
    height: 11px;
    width: 11px;
    background: rgba(255, 0, 0, 0.2);
    border-radius: 10px;

    &.rotate-point-ref {
      right: 0;
      top: 90.8%;
      transform: translateX(50%);
    }

    &.rotate-pencil-ref {
      left: 0;
      top: 89.9%;
      transform: translateX(-50%);
    }
  }

  .rotate-hand-ref {
    position: absolute;
    height: 2px;
    width: 2px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    left: 46.7%;
    top: 12.3%;
  }

  .rotate-pencil {
    transform-origin: 46.7% 12.3%;
    transform: rotate(0deg);
  }

  .close-btn {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
  }

  .flip-btn {
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
  }

  .scale-btn {
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
    cursor: nw-resize;
  }

  .btn.rotate-btn {
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
  }

  &.flipped {
    // background: lightcoral;
    transform-origin: 32.6% 96.6%;

    .outer {
      transform: translateX(-50%) rotateY(180deg);
    }
  }

  &:before,
  &:after {
    display: none;
    content: '';
    position: absolute;
    background: red;
    left: 0;
    top: 0;
  }

  &:before {
    width: 1px;
    height: 300px;
    rotate: 23deg;
    left: 70.6px;
    top: -10px;
  }

  &:after {
    width: 300px;
    height: 1px;
    rotate: 64deg;
    left: 10px;
    top: 140px;
  }

  svg {
    path {
      // pointer-events: none;
    }
  }
}

[data-panel=protractor] {
  background: rgba(0, 0, 255, 0.01);
  pointer-events: none;
  transform-origin: center bottom;
  height: 150px;
  width: 300px;
  // .scalable {
  //   transform-origin: left top;
  //   background: yellow;
  // }
  .protractor {
    width: 100%;
    display: block;
  }

  .drag-area {
    position: absolute;
    content: '';
    width: 100%;
    height: 107%;
    background: transparent;
    left: 0;
    pointer-events: all;
    top: 0;
    border-radius: 500px 500px 0 0;
    z-index: 30;
  }

  &:before {
    position: absolute;
    // content: '';
    width: calc(100% + 200px);
    height: calc(200% + 200px);
    background: rgba(38, 0, 255, 0.116);
    left: 50%;
    top: -100px;
    transform: translate(-50%, 0);
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
  }

  &:after {
    position: absolute;
    // content: '';
    width: 100%;
    height: 200%;
    background: rgba(255, 0, 0, 0.123);
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
  }

  .point {
    &.point-center {
      left: 50%;
      top: 100%;
    }

    &.point-side {
      left: 50%;
      top: 50%;
    }
  }
}

[data-panel^=set-square] {
  // border: 1px solid rgba(0, 0, 0, 0.1);
  background: lightyellow;

  .close-btn {
    right: 100%;
    top: 0;
  }

  .flip-btn {
    left: 100%;
    top: 0;
  }

  .scale-btn {
    left: 100%;
    bottom: 0;
  }

  .rotate-btn {
    right: 100%;
    bottom: 0;
  }
}

[data-panel=abacus] {
  width: 400px;

  .reset {
    position: absolute;
    width: 100%;
    height: 17%;
    top: 11%;
    // background: blue;
    cursor: pointer;
  }

  .bead {
    cursor: pointer;

    &[data-layer=up] {
      width: 16%;
      position: absolute;
      top: 5.4%;

      &[data-col='1'] {
        left: 2.8%;
      }

      &[data-col='2'] {
        left: 22.5%;
      }

      &[data-col='3'] {
        left: 42%;
      }

      &[data-col='4'] {
        left: 61.8%;
      }

      &[data-col='5'] {
        left: 81.1%;
      }

      &[data-state=down] {
        path {
          fill: #b1d8ed;
        }
      }
    }

    &[data-layer=down] {
      width: 16%;
      position: absolute;
      top: 5.4%;

      &[data-col='1'] {
        left: 2.8%;

        &[data-pos='0'] {
          top: 44%;
        }

        &[data-pos='1'] {
          top: 56.2%;
        }

        &[data-pos='2'] {
          top: 68.5%;
        }

        &[data-pos='3'] {
          top: 80.9%;
        }
      }

      &[data-col='2'] {
        left: 22.5%;

        &[data-pos='0'] {
          top: 44%;
        }

        &[data-pos='1'] {
          top: 56.2%;
        }

        &[data-pos='2'] {
          top: 68.5%;
        }

        &[data-pos='3'] {
          top: 80.9%;
        }
      }

      &[data-col='3'] {
        left: 42%;

        &[data-pos='0'] {
          top: 44%;
        }

        &[data-pos='1'] {
          top: 56.2%;
        }

        &[data-pos='2'] {
          top: 68.5%;
        }

        &[data-pos='3'] {
          top: 80.9%;
        }
      }

      &[data-col='4'] {
        left: 61.8%;

        &[data-pos='0'] {
          top: 44%;
        }

        &[data-pos='1'] {
          top: 56.2%;
        }

        &[data-pos='2'] {
          top: 68.5%;
        }

        &[data-pos='3'] {
          top: 80.9%;
        }
      }

      &[data-col='5'] {
        left: 81.1%;

        &[data-pos='0'] {
          top: 44%;
        }

        &[data-pos='1'] {
          top: 56.2%;
        }

        &[data-pos='2'] {
          top: 68.5%;
        }

        &[data-pos='3'] {
          top: 80.9%;
        }
      }

      &[data-state=up] {
        path {
          fill: #b1d8ed;
        }
      }
    }
  }
}