/***********************************/
//        mixins
/***********************************/
@mixin centerAbsEl() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

/***********************************/
//        common
/***********************************/
* {
  box-sizing: border-box;
  user-select: none;

  &:focus,
  &:active {
    outline: none !important;
  }
}

body {
  margin: 0;
  font-family: monospace;
  overflow: hidden;
  // background: rgba(0, 0, 0, 0.1);
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  img {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}

/***********************************/
//        cv-outer
/***********************************/
.cv-outer {
  position: relative;
  width: 100vw;
  height: 100vh;
  // background: rgba(0, 0, 0, 0.096);
  // margin-top: 5vh;
  // margin-left: 5vw;
  position: relative;

  .cv {
    width: 100%;
    height: 100%;
  }

  &.dropping {
    * {
      pointer-events: none;
    }
  }

  &.pe-none {
    .draggable {
      pointer-events: none;
    }
  }  
}

/***********************************/
//        tools
/***********************************/
.tools-universe {
  $bgColor: #F4F4F4;
  $borderColor: #EAEAEA;
  // background: rgba(66, 66, 66, 0.055);
  height: 0;
  width: 280px;
  left: 20px;
  bottom: 120px;
  transition: 0s height .2s ease;

  .tools-planet {
    // display: none;
    opacity: 0;
    height: 50%;
    width: 50%;
    // height: 160px;
    // width: 160px;      
    cursor: move;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    z-index: 1;
    background-color: $bgColor;
    transition: all .2s ease;

    .tools-satellite {
      position: absolute;
      border-radius: 50%;
      width: 35%;
      height: 35%;
      // width: 40px;
      // height: 40px;
    }

    &:before,
    &:after {
      content: '';
      @include centerAbsEl();
      border-radius: 50%;
    }

    &:before {
      width: 100%;
      height: 100%;
      background-color: $bgColor;
      z-index: 2;
      background-repeat: no-repeat;
    }

    &:after {
      width: calc(100% + 16px);
      height: calc(100% + 16px);
      // background: $borderColor;

      background: rgba(211, 211, 211, 1);
      background: -moz-linear-gradient(top, rgba(211, 211, 211, 1) 0%, rgba(193, 193, 193, 1) 21%, rgba(181, 181, 181, 1) 38%, rgba(229, 229, 229, 1) 100%);
      background: -webkit-gradient(top top, right top, color-stop(0%, rgba(211, 211, 211, 1)), color-stop(21%, rgba(193, 193, 193, 1)), color-stop(38%, rgba(181, 181, 181, 1)), color-stop(100%, rgba(229, 229, 229, 1)));
      background: -webkit-linear-gradient(top, rgba(211, 211, 211, 1) 0%, rgba(193, 193, 193, 1) 21%, rgba(181, 181, 181, 1) 38%, rgba(229, 229, 229, 1) 100%);
      background: -o-linear-gradient(top, rgba(211, 211, 211, 1) 0%, rgba(193, 193, 193, 1) 21%, rgba(181, 181, 181, 1) 38%, rgba(229, 229, 229, 1) 100%);
      background: -ms-linear-gradient(top, rgba(211, 211, 211, 1) 0%, rgba(193, 193, 193, 1) 21%, rgba(181, 181, 181, 1) 38%, rgba(229, 229, 229, 1) 100%);
      background: linear-gradient(to top, rgba(211, 211, 211, 1) 0%, rgba(193, 193, 193, 1) 21%, rgba(181, 181, 181, 1) 38%, rgba(229, 229, 229, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#e5e5e5', GradientType=1);

      z-index: 1;
    }

    &.active {
      // display: block;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }

    &.tools-planet-sets {
      &:before {
        background-image: url('../../_assets/img/tools.svg');
        background-position: 60% center;
        background-size: 65%;
      }
    }

    &.tools-planet-pens {
      &:before {
        background-image: url('../../_assets/img/pens.svg');
        background-position: center center;
        background-size: 40%;
      }
    }
  }

  .tools-toggle {
    position: absolute;
    top: calc(100% + 50px);
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    // width: 200px;
    display: flex;
    height: 45px;
    justify-content: space-between;

    .tools-satellite {
      width: 30%;
      // width: 22%;
      border-radius: 6px;
    }
  }

  .tools-satellite {
    @include flex();
    background-color: $bgColor;
    border: 3px solid $borderColor;
    cursor: pointer;

    img {
      max-width: 100%;
      pointer-events: none;
    }

    &:active,
    &.active,
    &.show-child {
      border: 2px solid #3FB6CE;
      background: white;
    }

    &:hover {
      border: 2px solid #3FB6CE;
      // opacity: .9;
    }

    &.disabled {
      // pointer-events: none;
      cursor: not-allowed;
      // background-color: rgb(216, 216, 216);
      opacity: .5;

      &:hover {
        background-color: $bgColor;
        border: 2px solid $borderColor;
      }
    }

    &[data-tool-group-type="pastel1"].show-child {
      &~[data-tool-group-type="pastel1"] {
        display: block;
      }
    }

    &[data-tool-group-type="pastel2"].show-child {
      &~[data-tool-group-type="pastel2"] {
        display: block;
      }
    }

    &[data-tool-group-type="stroke"].show-child {
      &~[data-tool-group-type="stroke"] {
        display: block;
      }
    }

    &[data-tool-group-type="opacity"].show-child {
      &~[data-tool-group-type="opacity"] {
        display: block;
      }
    }

    &[data-tool-group-type="scale"].show-child {
      &~[data-tool-group-type="scale"] {
        display: block;
      }
    }
    &[data-tool-group-type="set-square"].show-child {
      &~[data-tool-group-type="set-square"] {
        display: block;
      }
    }

    &.secondary {
      display: none;
    }
  }

  &.active {
    height: 280px;
    transition: 0s height 0s ease;
  }
}

/***********************************/
//        draggables
/***********************************/
.draggable {
  position: absolute;

  &.draggable-tools {
    display: block;
  }

  &.draggable-set,
  &.draggable-seal,
  &.draggable-tool,
  &.draggable-widget {
    display: none;
    left: 200px;
    top: 120px;

    &.active {
      display: block;
      &[data-panel="scale"] {
        display: flex;
      }      
    }

  }

  &.draggable-widget,
  &.draggable-seal {
    .close-btn {
      background-color: transparent;
      position: absolute;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      background-repeat: no-repeat;
      z-index: 1;
      background-image: url(../img/cancel-btn.svg);
      background-size: 150%;
      background-position: center -5px;
      left: calc(100% - 8px);
      top: -17px;

      img {
        // margin: 0;
        // width: 100%;
      }

      &:hover {
        opacity: .8;
      }
    }
  }

  &.draggable-seal {
    height: 300px;
    width: 100px;
    padding: 20px 10px 10px;
    background: #EBEBEB;
    border: 6px solid #DBDBDB;
    border-radius: 4px;
    transition: 
      background .3s ease,
      border .3s ease;

    .drag-area {
      background-color: transparent;
      position: absolute;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      background-repeat: no-repeat;
      z-index: 1;
      border: 2px solid #DBDBDB;
      top: -19px;
      left: -18px;
      background-color: #e4e4e4;
      background-image: url(../img/move.png);
      background-size: 60%;
      background-position: center;
    }

    .content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding: 10px;
      height: 100%;
      overflow: auto;

      img {
        width: 100%;
        margin-top: 10px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
    &.trash {
      background: #e2acac;
      &.trash-active {
        border: 6px solid #d17676;   
      }  
    }
  }

  &.draggable-set {
    .btn {
      display: none;
      position: absolute;
      width: 20px;
      cursor: pointer;
      &:hover {
        opacity: .8;
      }
    }    
    &.highlight {
      border: 1px solid rgba(0,0,0,0.1);
      .btn {
        display: block;
      }
    }    
  }
}

.dropped-seal {
  position: absolute;
  left: 100px;
  top: 100px;
}

.drag-area {
  cursor: move;
}

/***********************************/
//        snap cubes
/***********************************/
.draggable-cubes {
  // border: 5px solid black;
  box-shadow: 0 0 5px 5PX rgba(0, 0, 0, 0.151);
  .cube-outer {

    // border: 5px solid lightgreen;
    .cube {
      pointer-events: none;

      // padding: 5px;
      // background: red;
      img {
        // width: 100%;
        // height: 100%;
        display: block;
      }

      &.drag-area {
        pointer-events: all;
        cursor: move;

        img {
          pointer-events: none;
        }
      }
    }
  }

  .dot {
    height: 1px;
    width: 1px;
    border-radius: 50%;
    position: absolute;
    visibility: hidden;

    &.dot-top {
      left: 50%;
      bottom: 100%;
      background: rgb(255, 102, 0);
      transform: translate(-50%, 50%);
    }

    &.dot-bottom {
      left: 50%;
      top: 100%;
      transform: translate(-50%, -50%);
      background: yellow;
    }

    &.dot-left {
      top: 50%;
      right: 100%;
      transform: translate(50%, -50%);
      background: white;
    }

    &.dot-right {
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%);
      background: rgb(5, 155, 255);
    }
  }
  .detach-btn {
    position: absolute;
    width: 34px;
    height: 34px;
    background: #e0e0e0;
    left: calc(100% + 8px);
    top: 0;
    border-radius: 10px;
    background-image: url(../img/detach.png);
    background-repeat: no-repeat;
    background-size: 78%;
    background-position: center;
    display: none;
    padding: 7px;
    cursor: pointer;
    background-clip: border-box;
    &:hover {
      opacity: .8;
    }
  }

  &.vertical,
  &.horizontal {
    display: flex;
  }

  &.vertical {
    // flex-flow: column;
    box-shadow: 0 0 5px 5PX rgba(255, 0, 0, 0.479);
  }

  &.horizontal {
    flex-flow: row;
  }
  
  &.horizontal {
    box-shadow: 0 0 5px 5PX rgba(0, 0, 0, 0.151);
  }
  
  &.complete {
    box-shadow: 0 0 5px 5px rgba(0, 153, 255, 0.555);
  }

  &.highlight {
    box-shadow: 0 0 5px 5PX rgba(21, 255, 0, 0.479);
  }

  &.cant-snap {
    transition: all .05s ease;
  }
  &.detach {
    .detach-btn {
      display: block;
    }
  }
}

/***********************************/
//        widget panels
/***********************************/
[data-panel=clock] {
  svg {
    width: 300px;
    height: auto;
  }

  .clock-hand {
    position: absolute;
    /* opacity: .3; */
    background: black;
    left: 50%;
    top: 50%;
    border-radius: 40px;
    transform: translateY(-50%);
    transform-origin: left center;

    &.hour {
      height: 20px;
      width: 90px;
      transform: translateY(-50%) rotateZ(-70deg);
    }

    &.minute {
      height: 10px;
      width: 90px;
      // transform: translateY(-50%) rotateZ(210deg);
    }

    &.second {
      height: 4px;
      width: 120px;
      // transform: translateY(-50%) rotateZ(40deg);
    }
  }
}

[data-panel=calculator] {

  .display,
  .display-placeholder {
    position: absolute;
    background: rgba(255, 0, 0, 0);
    top: 8%;
    left: 10%;
    width: 80%;
    height: 13%;
    font-size: 98px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px;
    overflow: hidden;
    user-select: none;
    font-family: "digital-dismay";
  }

  .display-placeholder {
    opacity: .05;
    color: black;
    z-index: 1;
    pointer-events: none;
  }

  .display {
    z-index: 2;
    pointer-events: none;
  }

  svg {
    [data-button-type] {
      cursor: pointer;

      &:hover {
        opacity: .7;
      }

      &:active {
        opacity: .9;
      }
    }
  }

  // g path {
  //   pointer-events: none;
  // }
}

[data-panel^=scale],
[data-panel=compass] {
  .borderlr,
  .bordertb {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, .1); */
    left: 0;
    top: 0;
    pointer-events: none;
  }

  .borderlr:before,
  .borderlr:after,
  .bordertb:before,
  .bordertb:after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
  }
  
  .borderlr:before,
  .borderlr:after {
    width: 1px;
    height: 4000px;
    top: 50%;
    transform: translateY(-50%);
  }
  .borderlr:before {
    left: 0;
  }

  .borderlr:after {
    right: 0;
  }

  .bordertb:before,
  .bordertb:after {
    height: 1px;
    width: 4000px;
    left: 50%;
    transform: translateX(-50%);
  }

  .bordertb:before {
    top: 0;
  }

  .bordertb:after {
    bottom: 0;
  }

  .point {
    visibility: hidden;
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    &:before {
      position: absolute;
      font-size: 0px;
      color: White;
      z-index: 19;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.point-1 {
      left: 0;
      top: 0;
    }
    &.point-1:before {
      content: '1';
      /* left: 5px;
      top: 5px; */
    }
    &.point-2 {
      left: 100%;
      top: 0;
    }
    &.point-2:before {
      content: '2';
      /* right: 5px;
      top: 5px; */
    }
    &.point-3 {
      left: 100%;
      top: 100%;
    }
    &.point-3:before {
      content: '3';
      /* bottom: 5px;
      right: 5px; */
    }
    &.point-4 {
      top: 100%;
      left: 0;
    }
    &.point-4:before {
      content: '4';
      /* bottom: 5px;
      left: 5px; */
    }
  }
}

[data-panel^=scale] {
  // background: rgba(144, 238, 144, 0.288);
  /* transform: rotate(45deg); */
  .rotate-btn {
    left: 100%;
    top: 0;
    // transform: translate(50%, -50%);
  }
  .close-btn {
    left: 100%;
    bottom: 0;
    // transform: translate(50%, 50%);
  }
  .scale-flip-btn {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
  }    
  .scale {
    height: 70px;
    display: block;
  }
}

[data-panel=compass] {
  background: rgba(144, 238, 144, 0.288);
  height: 340px;
  width: 240px;
  // left: 500px;
  // top: 340px;
  // display: block!important;
  /* transform: rotate(45deg); */
  transform-origin: 67.4% 96.6%;
  .outer {
    width: 70px;
    height: 70px;
    background: rgba(255, 0, 0, 0.219);
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    .hold-move{
      width: 100%;
      height: 100%;
      background: rgb(0, 0, 0);
      position: absolute;
      left: 0;
      top: 0;
    }
    .rotate-compass{
      width: 20px;
      height: 50px;
      background: #0cf41f;
      position: absolute;
      left: 50%;
      bottom: 100%;
      transform: translateX(-50%);
    }
    .rotate-point, .rotate-pencil {
      width: 250px;
      height: 15px;
      background: #0cf41f;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 100%;
      transform-origin: left center;
      .rotate-compass-ref,
      .rotate-pencil-ref {
        position: absolute;
        height: 4px;
        width: 4px;
        background: red;
        right: 0.5px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 10px;        
      }
    }
    .rotate-point {
      transform: translateY(-50%) rotate(80deg);
      background: #3FB6CE;
    }
    .rotate-pencil {
      transform: translateY(-50%) rotate(110deg);
    }
    .rotate-hand-ref {
      height: 10px;
      width: 10px;
      background: red;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 30px;
      opacity: .5;    
    }
  }  
  .ref {
    position: absolute;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 10px;         
    // left: 50%;
    // top: 24%;
    // transform: translateX(-50%);
    left: 67%;
    top: 96.3%;
  }
  .close-btn {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
  }
  .flip-btn {
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
  }
  .scale-btn {
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
    cursor: nw-resize;
  }
  .rotate-btn {
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
  }
  // &.point-ref {
  //   transform-origin: 93.3% 85%;
  // }
  &.flipped {
    // background: lightcoral;
    transform-origin: 32.6% 96.6%;
    .outer {
      transform: translateX(-50%) rotateY(180deg);
    }
  }
}
[data-panel=protractor] {
  background: lightyellow;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  transform-origin: center bottom;
  
  .protractor {
    height: 250px;
    // height: 100%;
    // width: 100%;
    width: auto;
    display: block;
  }

  .close-btn {
    right: 100%;
    top: 0;
  }

  .flip-btn {
    left: 100%;
    top: 0;
  }

  .scale-btn {
    left: 100%;
    bottom: 0;
  }

  .rotate-btn {
    right: 100%;
    bottom: 0;
  }
}
[data-panel^=set-square] {
  // border: 1px solid rgba(0, 0, 0, 0.1);
  background: lightyellow;
  .close-btn {
    right: 100%;
    top: 0;
  }
  .flip-btn {
    left: 100%;
    top: 0;
  }
  .scale-btn {
    left: 100%;
    bottom: 0;
  }
  .rotate-btn {
    right: 100%;
    bottom: 0;
  }
}

[data-panel=abacus] {
  div.drag-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(202, 202, 202);
    z-index: -1;
  }

  g {
    cursor: pointer;
  }
}