body {
  /* background: black; */
  user-select: none;
}
.active {
  background: grey;
}

input, button {
  position: fixed;
  left: 10px;
  z-index: 100;
}

#thefile {
  top: 10px;
}

#playPause {
  top: 40px;
}

#canvas, #seekBar, #progressBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#seekBar {
  /* background: rgba(0, 255, 0, 0.3); */
}

#progressBar {
  background: rgba(251, 255, 0, 0.432);
  pointer-events: none;
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}

#volEl {
  position: fixed;
  color: wheat;
  z-index: 9;
  right: 10px;
}